@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';

@import '../../theme_dseas.css';
@import '../../bitsui.css';

:root {
	--color-tabs-hover: oklch(91.052% 0.00106 11.805);
	--color-tabs-hover-foreground: black;
	--color-tabs-active: oklch(42.118% 0.01059 248.187);
	--color-tabs-active-foreground: oklch(99.131% 0.00697 248.18);
	--color-tabs-inactive: white;
	--color-tabs-inactive-foreground: black;
}

/* .dark { */
@media (prefers-color-scheme: dark) {
	:root {
		--color-tabs-active: oklch(97.334% 0.1235 252.942);
		--color-tabs-active-foreground: oklch(38.869% 0.0065 248.154);
	}
}

@theme {
	--color-tabs-active: var(--color-tabs-active);
	--color-tabs-inactive: var(--color-tabs-inactive);
	--color-tabs-inactive-foreground: var(--color-tabs-inactive-foreground);
	--color-tabs-hover: var(--color-tabs-hover);
	--color-tabs-hover-foreground: var(--color-tabs-hover-foreground);
	--color-tabs-active-foreground: var(--color-tabs-active-foreground);
	--color-avocado-100: oklch(0.99 0 0);
	--color-avocado-200: oklch(0.98 0.04 113.22);
	--color-avocado-300: oklch(0.94 0.11 115.03);
	--color-avocado-400: oklch(0.84 0.11 115.03);
	--color-avocado-500: oklch(0.74 0.18 117.33);
	--color-avocado-600: oklch(0.53 0.12 118.34);
}

/* Edendum Styling */
[data-dom='global_comment'],
[data-dom='annotation'],
[data-textflow='fluid'],
[data-textflow='paged'] {
	p {
		@apply my-4;
	}
	a {
		@apply hover:text-primary-500;
	}
}

/* General Styling */
a {
	@apply hover:text-primary-500;
}
.my-btn-round {
	@apply w-max cursor-pointer rounded-full border bg-surface-50-950 px-4 py-1 text-center hover:bg-surface-300-700 hover:text-surface-950-50;
}
.my-btn-active {
	@apply bg-primary-500/15! text-primary-950-50! hover:bg-primary-500/15! hover:text-primary-950-50!;
}
